---
import Hero from "./Hero.astro";
import Navbar from "./Navbar.astro";
import Testimonials from "./Testimonials.astro";
import AboutMe from "./AboutMe.astro";
import ForYou from "./ForYou.astro";
import NotForYou from "./NotForYou.astro";
import WhatIsInside from "./WhatIsInside.astro";
import Footer from "./Footer.astro";
import FAQ from "./FAQ.astro";
---

<div id="container">
  <Navbar />
  <Hero />
  <ForYou />
  <NotForYou />
  <WhatIsInside />
  <Testimonials />
  <AboutMe />
  <FAQ />
  <Footer />
</div>
